$black200: #ededed;
$unit: 0.8rem;
$color-box-shadow: rgba(17, 17, 17, 0.08);
$shadow-3: 0 $unit $unit 0 $color-box-shadow;
$shadow-small: $shadow-3;
$font-stack-monospace: Inconsolata, Consolas, Courier, monospace;
$black1000: #111111;

.grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 2 * $unit;
}

.title {
  margin-top: 3 * $unit;
  margin-bottom: 0;
  font-weight: 800;
  height: 4 * $unit;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 3 * $unit;
}

.introPar {
  width: 100%;
  font-size: 2 * $unit;
  margin: 2 * $unit 0;
}

.linkButton {
  margin-top: 3 * $unit;
}

.itemAccessContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  box-shadow: $shadow-small;
  margin-top: 3 * $unit;
  border-radius: 2px;
}

.itemAccessRow {
  display: flex;
  border: 1px solid $black200;
  height: 50%;
  margin: 0;

  &:last-child {
    border-top: 0px;
  }
}

.idName {
  padding: 2 * $unit 3 * $unit 2 * $unit 5 * $unit;
  flex: 1;
  font-weight: bold;
  font-family: $font-stack-monospace;
  color: $black1000;
}

.tokenText {
  padding: 2 * $unit 3 * $unit 2 * $unit 0;
  flex: 5;
  font-family: $font-stack-monospace;
}

.requests {
  margin-top: 7 * $unit;
  font-size: 2 * $unit;
}

.fixButton {
    margin: 2 * $unit;
    margin-left: 3 * $unit;
    width: 70%;
}