@inject Helpers.ContextContainer context

<div data-test-id="Link">
    <button type="button" class="btn btn-primary" @onclick="LaunchLink">
      Launch Link &raquo;
    </button>
</div>

@code {
    private void LaunchLink()
    {
        context.linkSuccess = true;
        context.isItemAccess = true;
        context.itemId = "Got-itemid";
        context.accessToken = "your-accesstoken";
    }
}
