@using PlaidQuickstartBlazor.Shared
@inject ContextContainer context
@inject HttpClient Http
@inject IJSRuntime JS

@*
    LINK BUTTON

    Manages the Plaid Link control
    https://plaid.com/docs/link/web/

*@

<div data-test-id="Link">
    @if (IsReady)
    {
        <button type="button" class="btn btn-primary" @onclick="LaunchLink">
          Launch Link &raquo;
        </button>        
    }
    else
    {
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>  
    }
    @if (Error is not null)
    {
        <p class="alert-danger p-2 my-2">@Error</p>
    }
</div>

@code {
    private string? Error { get; set; }

    private bool IsReady => JS is Microsoft.JSInterop.WebAssembly.WebAssemblyJSRuntime;

    private IJSObjectReference? module;

    private async Task LaunchLink()
    {
        try
        {
            Error = null;

            // First, let's see if we already HAVE credentials!
            context.Credentials = await Http.GetFromJsonAsync<PlaidCredentials>("link/info");
            if (context.Credentials?.AccessToken is null)
            {
                // Step 1: Get link token from server
                var createresponse = await Http.GetAsync("link/CreateLinkToken");
                if (!createresponse.IsSuccessStatusCode)
                    throw new ApplicationException(await createresponse.Content.ReadAsStringAsync());

                var link_token = await createresponse.Content.ReadFromJsonAsync<string>();   

                // Step 2: Get public token from Link via JS interop
                var result = await module!.InvokeAsync<string>("launch_link",link_token);

                if (result is null)
                    throw new ApplicationException("Calling link failed");

                var link_result = System.Text.Json.JsonSerializer.Deserialize<LinkResult>(result);

                if (link_result is null)
                    throw new ApplicationException("Failed to serialize link result");

                if (link_result.ok != true)
                {
                    if (link_result.error is not null)
                        throw new ApplicationException($"{link_result.error.error_type} {link_result.error.error_code} {link_result.error.error_message} {link_result.error.display_message}");
                    else
                        throw new ApplicationException("Link failed, no error given");
                }

                // Step 3: Send public token back to server, which will populate credentials
                var response = await Http.PostAsJsonAsync<LinkResult>("link/ExchangePublicToken",link_result);
                if (!response.IsSuccessStatusCode)
                    throw new ApplicationException(await response.Content.ReadAsStringAsync());

                context.Credentials = await response.Content.ReadFromJsonAsync<PlaidCredentials>();   
            }

            context.LinkSuccess = true;
            context.IsItemAccess = true;
        }
        catch (Exception ex)
        {
            // TODO: Prettier display of error information
            Error = $"Failed to Launch: {ex.GetType().Name}: {ex.Message}";
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender && IsReady)
            {
                module = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/Link.razor.js");                            
            }
        }
        catch (Exception ex)
        {
            Error = $"Failed to Load JS {ex.GetType().Name}: {ex.Message}";            
        }
    }
}
