@using PlaidQuickstartBlazor.Shared
@inject Helpers.ContextContainer context
@inject HttpClient Http

<div data-test-id="Link">
    <button type="button" class="btn btn-primary" @onclick="LaunchLink">
      Launch Link &raquo;
    </button>
</div>

@code {
    private async Task LaunchLink()
    {
        context.Credentials = await Http.GetFromJsonAsync<PlaidCredentials>("link/info");

        context.LinkSuccess = true;
        context.IsItemAccess = true;
    }
}
