<div data-test-id="ProductTypesContainer" class="pq-container">
    <h4 class="pq-header">@ProductType</h4>
    @ChildContent
</div>

@code {
    [Parameter]
    public string? ProductType { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
