<div @attributes="Unmatched" class="containerContainer">
    @Header
    <div class="containerContents">
        @Contents
    </div>
    <div class="containerButtons">
        @Buttons
    </div>
</div>
@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string,object>? Unmatched { get; set; }

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Contents { get; set; }

    [Parameter]
    public RenderFragment? Buttons { get; set; }

}
