@using PlaidQuickstartBlazor.Shared

<table data-test-id="Table">
    <tr>
        @foreach(var th in Data!.Columns)
        {
            <th>@th.Title</th>
        }
    </tr>
    @foreach(var tr in Data!.Rows)
    {
        <tr>
            @foreach(var td in tr.Cells)
            {
                <td>@td</td>
            }
        </tr>
    }
</table>

@code {
    [Parameter]
    public DataTable? Data { get; set; }
}