@page "/"
@using PlaidQuickstartBlazor.Components

<div data-test-id="IndexPage">
    <Header />
    @if (linkSuccess && isItemAccess)
    {
        <Products />
        <Items />
    }
</div>

@code {
    private bool linkSuccess { get; set; }
    private bool isItemAccess { get; set; }
}
