@page "/"
@using PlaidQuickstartBlazor.FrontEnd.Components
@inject Helpers.ContextContainer context

<div data-test-id="IndexPage">
    <Header />
    @if (context.linkSuccess)
    {
        <div>
            <Products />
            <Items />
        </div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        context.OnChange += StateHasChanged;
    }

     public void Dispose()
    {
        context.OnChange -= StateHasChanged;
    }
}