@page "/"
@using PlaidQuickstartBlazor.FrontEnd.Components
@using PlaidQuickstartBlazor.Shared
@inject ContextContainer context

<div data-test-id="IndexPage" class="pq-container">
    <Header />
    @if (context.LinkSuccess)
    {
        <div>
            <Products />
            <Items />
        </div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        context.OnChange += StateHasChanged;
    }

     public void Dispose()
    {
        context.OnChange -= StateHasChanged;
    }
}