$black200: #ededed;
$unit: 0.8rem;
$font-stack-monospace: Inconsolata, Consolas, Courier, monospace;
$color-box-shadow: rgba(17, 17, 17, 0.08);
$shadow-3: 0 $unit $unit 0 $color-box-shadow;
$shadow-small: $shadow-3;
$red200: #ffd7dc;
$black1000: #111111;